* {
    border:0px;
    padding:0px;
    margin:0px;
    font-family:Acens;
}

#header {
    width:auto;
    height:130px;
    background-color:red;
    background-image:url('page-header-bg.jpg');
    background-size:cover;
}

#strip1 {
    width:auto;
    height:25px;
    background:rgb(204,170,102);
    box-shadow:black 0px 10px 10px;
}

#gallery {
    width:auto;
    height:530px;
    background-color:rgb(20,20,20);
}

#gallery h1 {
    font-family:'Calibri';
    font-size:40px;
    font-weight:100;
    text-align:center;
    color:rgb(220,220,220);
    visibility: visible;
    animation-name: fadeInDown;
    padding-top:70px;
}

#strip3 {
    width:auto;
    height:25px;
    background:rgb(204,170,102);
    box-shadow:black 0px 10px 10px;
}

#footer {
    width:auto;
    height:190px;
    background-color:black;
    background:url(http://localhost:2718/page-header-bg.jpg);
    background-size:cover;
}