@font-face {
    font-family: 'Acens';
    src: url('Acens.ttf');
}


*{
    border:0px;
    padding:0px;
    margin:0px;
}

a{
    display:block;
    width:268px;
    height:40px;
    text-decoration:none;
    color:white;
    transition-duration:.2s;
}

a:hover{
    color:rgb(204,170,102);
    transition-duration:.2s;
}

#header{
    width:auto;
    height:130px;
    background-color:black;
    background-image:url('page-header-bg.jpg');
    background-size:cover;
}

#strip {     
    width:auto;     
    height:25px;     
    background:rgb(204,170,102);
    box-shadow:black 0px -10px 10px;   
}

#body {
    width: auto;
    height: 280px;
    background-color: gray;
    background-image: url('relia_hero.jpg');
    background-size: cover;
    box-shadow: inset black 0px 10px 10px , inset black 0px -10px 10px;
    padding-top: 300px;
}



#btns{
    margin:auto;
    width:576px;
}

.btn{
    width:268px;
    height:40px;
    border:5px solid white;
    position:absolute;
    color:white;
    font-family:Acens;
    font-size:26px;
    text-align:center;
    transition-duration:.2s;
}

.btn:hover{
    border:5px solid rgb(204,170,102); 
    transition-duration:.2s;
}

#btn2{
    margin-left:298px;
}

#strip2{
    width:auto;
    height:20px;
    background-color:rgb(204,170,102);
}

#gallery {
    width:auto;
    height:530px;
    background-color:rgb(20,20,20);
}

#gallery h1 {
    font-family:'Calibri';
    font-size:40px;
    font-weight:100;
    text-align:center;
    color:rgb(220,220,220);
    visibility: visible;
    animation-name: fadeInDown;
    padding-top:70px;
}

#strip3 {
    width:auto;
    height:25px;
    background:rgb(204,170,102);
    box-shadow:black 0px 10px 10px;
}
#footer {
    width:auto;
    height:190px;
    background-color:black;
    background-image:url('page-header-bg.jpg');
    background-size:cover;
    box-shadow: inset black 0px 10px 10px;
}
#be-in-touch {
    font-family:Acens;
    color:rgb(204,170,102);
    font-size:30px;
    padding-top:30px;
    padding-left:40px;
    font-weight:bold;
}

#call {
    padding-left:300px;
    padding-top:0px;
}

#email {
    margin-top:0px;
    padding-left:100px;
}